.calculator{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.7em;
    justify-items: stretch;
    align-items: stretch;
    height: 400px;
    width: 400px;
    border: 5px solid rgb(93, 170, 218);
    margin: 0.7em;
    padding: 1.2em;
}

.box{
    border: 1px solid #aaa;
    background: linear-gradient(180deg, rgba(248,248,248,1) 0%, rgba(221,221,221,1) 100%);
}

.box1{
    grid-column: 1/6;
    border: 1px solid #000;
    background: white;
}

.box16{
    grid-row: 4/6;
    grid-column: 5;
}

.box17{
    grid-column: 1/3;
}
