body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

header h1 {
  font-size: 25px;
  font-weight: 200;
  margin: 0;
  padding: 8px;
}

header {
  background: green;
  color: white;
  text-align: center;
}

footer {
  color: white;
  background-color: black;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
}

footer h2 {
  font-size: 17px;
  font-weight: 200;
  margin: 0;
  padding: 5px;
}

main {
  position: fixed;
  width: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  overflow: hidden;
}

nav {
  background-color: red;
  float: left;
  width: 25%;
  height: 100%;
  font-size: 0.9em;
}

nav ul{
    list-style-type: none;
    text-decoration: underline;
    padding-left: 40px;
    padding-right: 45px;
}

nav li{
  margin-bottom: 10px;
}

nav li:hover{
  background: green;
}

nav a{
    text-decoration: none;
    color: white;
}

.content {
  float: left;
  font-size: 1em;
  width: 70%;
  height: 100%;
  margin: 0;
  padding: 20px 0 0 23px;
}

#first-letter{
    color: red;
    font-size: 2em;
}

.content::-moz-selection { /* Code for Firefox */
  background: green;
}

.content::selection {
  background: green;
}

@media only screen and (max-width: 1600px) {
  main{
    width: 50%;
  }
}

@media only screen and (max-width: 1300px) {
  main{
    width: 60%;
  }
}

@media only screen and (max-width: 1000px) {
  main{
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  nav{
    width: 30%;
  }
  .content{
    width: 60%;
  }
}

@media only screen and (max-width: 650px) {
  nav ul{
    padding-right: 10px;
  }
  main{
    overflow: scroll;
  }
}